<!-- <div class="container-fluid">
    <h3>Other</h3>
    <div class="country">
        <div class="country-name">United States</div>
        <div class="article">
            <div class="headline">SpaceX's Starlink Satellite Internet Service Is Now Open to the Public, But It's Not Cheap | <em class="date">24th March 2024</em></div>
            <div class="detail">
                <p>The article discusses the public availability of SpaceX's Starlink satellite internet service, highlighting its pricing and accessibility.</p>
            </div>
            <div class="impact">
                <p>This development signifies a major milestone in the deployment of satellite-based internet services, potentially expanding internet access to underserved regions worldwide.</p>
            </div>
            <div>
                <a href="https://www.pcmag.com/articles/2024-starlink-speed-tests-spacex-satellite-internet/" class="read-more">Read more</a>
            </div><br>
            <div class="contact"><em>Contact: Darwin Pintado</em></div>
        </div>
        <div class="article">
            <div class="headline">Amazon's Kuiper System Plans to Launch 3,236 Satellites to Provide Global Internet Coverage | <em class="date">1st February 2024</em></div>
            <div class="detail">
                <p>The article outlines Amazon's ambitious plan to launch thousands of satellites under its Kuiper System to offer global internet coverage.</p>
            </div>
            <div class="impact">
                <p>Amazon's entry into the space-based internet market intensifies competition and could lead to advancements in satellite technology and increased accessibility to high-speed internet globally.</p>
            </div>
            <div>
                <a href="https://www.cnbc.com/" class="read-more">Read more</a>
            </div><br>
            <div class="contact"><em>Contact: Darwin Pintado</em></div>
        </div>
            <div class="article">
                <div class="headline">How SpaceX, OneWeb and Amazon Will Make Space-Based Internet a Reality | <em class="date">1st January 2024</em></div>
                <div class="detail">
                    <p>The article examines the strategies and technologies employed by SpaceX, OneWeb, and Amazon to bring space-based internet services to fruition.</p>
                </div>
                <div class="impact">
                    <p>This analysis provides insights into the collaborative and competitive dynamics shaping the emerging space-based internet industry, highlighting potential benefits and challenges.</p>
                </div>
                <div>
                    <a href="https://www.scientificamerican.com/" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Darwin Pintado</em></div>
            </div>
            <div class="article">
                <div class="headline">ISS Astronauts Are Testing a New Surface Coating to Fight Space Germs | <em class="date">15th November 2023</em></div>
                <div class="detail">
                    <p>Boeing developed an antimicrobial surface coating to help prevent and fight against the spread of viruses and bacteria on the International Space Station (ISS).</p>
                </div>
                <div class="impact">
                    <p>Using polymer coating launched to the space station in hopes of eventually reducing the microbial burden on long-term space missions for crew and systems.</p>
                </div>
                <div>
                    <a href="https://gizmodo.com/" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Violice Neo Sian Li</em></div>
            </div>
            <div class="article">
                <div class="headline">"The Next Frontier: Biomedical Research in Space" | <em class="date">21th November 2023</em></div>
                <div class="detail">
                    <p>Discussion the advantages of conducting research in a Microgravity research environment, during a keynote at BIOMEDevice Silicon Valley.</p>
                </div>
                <div class="impact">
                    <p>Astronauts have conducted biomedical research in space for decades. The influence of a low-gravity environment has advantages that can help advance the development of medical devices and therapies that can help those of us on Earth. Axiom Space collaboration with NASA space missions conducting research studies on medical and medical devices.</p>
                </div>
                <div>
                    <a href="https://www.mddionline.com/" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Violice Neo Sian Li</em></div>
            </div>
            <div class="article">
                <div class="headline">Could mini space-grown organs be our 'cancer moonshot'? | <em class="date">28th-February-24</em></div>
                <div class="detail">
                    <p>Scientists say they're growing "organoids" in space to better understand cancer, neurological diseases and aging, and to hopefully uncover treatments. Organoids: including the brain, heart and breast — have been grown on the International Space Station (ISS).</p>
                </div>
                <div class="impact">
                    <p>Growing organoids in space is challenging, but it can offer unique opportunities for drug discovery and development for the diseases, revealing which compounds works on humans and the nots.</p>
                </div>
                <div>
                    <a href="https://www.livescience.com/" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Violice Neo Sian Li</em></div>
            </div>
            <div class="article">
                <div class="headline">Does the future of medicine lie in space? | <em class="date">17th May 2023</em></div>
                <div class="detail">
                    <p>Researchers are leveraging on the unique conditions of microgravity to pioneer new methods for crafting organs. This convergence of space exploration and medical innovation promises a brighter future and offers hope for countless patients in need of transplants.</p>
                </div>
                <div class="impact">
                    <p>The advancement of 3D printing organs in space holds the potential to revolutionize healthcare by addressing organ shortages and promote global collaboration through space exploration.</p>
                </div>
                <div>
                    <a href="https://www.weforum.org/" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Davis Fung</em></div>
            </div>
            <div class="article">
                <div class="headline">NASA rolls out new space sustainability strategy - SpaceNews | <em class="date">9th April 2024</em></div>
                <div class="detail">
                    <p>NASA unveiled a new Space Sustainability Strategy at the 39th Space Symposium, focusing on understanding and mitigating risks from debris in Earth orbit.</p>
                </div>
                <div class="impact">
                    <p>The strategy prioritizes analysis before technology development, aiming to establish a shared framework with stakeholders to assess space sustainability. The strategy's goals include identifying critical uncertain factors affecting space safety, investing in technologies, updating policies, and coordinating with other agencies and international partners.</p>
                </div>
                <div>
                    <a href="https://www.spacenews.com/" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Vidushi</em></div>
            </div>
            <div class="article">
                <div class="headline">Varda raises $90 million to fuel space manufacturing efforts | <em class="date">7th April 2024</em></div>
                <div class="detail">
                    <p>California-based startup Varda Space Industries has raised $90 million in a Series B funding round led by Caffeinated Capital, with participation from Lux Capital, Founders Fund, Khosla Ventures, and others. This brings Varda's total investment to $145 million since its inception in 2021. The company plans to use the funds to transition from its initial demonstration mission to serving biopharma and government customers.</p>
                </div>
                <div class="impact">
                    <p>Varda aims to commercialize drug and materials manufacturing in space, leveraging microgravity to develop unique pharmaceutical formulations. The startup recently recovered its W-1 capsule from space, which carried an experiment to reformulate the antiretroviral drug Ritonavir. Varda's second vehicle, W-2, is scheduled to launch this summer, with plans to eventually launch capsules monthly and offer payload services to users like the U.S. government.</p>
                </div>
                <div>
                    <a href="https://www.msn.com/en-us/money/companies/varda-raises-90-million-to-fuel-space-manufacturing-efforts/ar-BB1l8QrT" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Vidushi</em></div>
            </div>
            <div class="article">
                <div class="headline">Future quantum computers will be no match for 'space encryption' that uses light to beam data around — with the 1st satellite launching in 2025 | <em class="date">27th March 2024</em></div>
                <div class="detail">
                    <p>Quantum cryptography faces a significant limitation with distance (signal loss and degradation caused by photon absorption and scattering). This article explores a solution by sending the quantum signals to space.</p>
                </div>
                <div class="impact">
                    <p>Overcoming distance limitations with Quantum Key Distribution (QKD) opens a viable deployment of secure communication networks, safeguarding sensitive information across various sectors against emerging threats.</p>
                </div>
                <div>
                    <a href="https://www.livescience.com/" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Davis Fung</em></div>
            </div>
            <div class="article">
                <div class="headline">A Stellar Guide To Equality: Empowering Women In Space Tech Through Training, Networks And Mentorship | <em class="date">8th March 2024</em></div>
                <div class="detail">
                    <p>Through training, networks and mentorship, we can empower women to achieve their full potential and become successful leaders. Let's work together to shape a future that embraces the diversity and brilliance of humanity, creating an innovative and inclusive galaxy for everyone.</p>
                </div>
                <div class="impact">
                    <p>Working towards a more equitable space industry.</p>
                </div>
                <div>
                    <a href="https://www.forbes.com/sites/forbestechcouncil/2024/03/08/a-stellar-guide-to-equality-empowering-women-in-space-tech-through-training-networks-and-mentorship/?sh=342c31ce2830" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Darwin Pintado</em></div>
            </div>
            <div class="article">
                <div class="headline">From Lab to Classroom: How NASA Tech Improves Learning | <em class="date">11th August 2021</em></div>
                <div class="detail">
                    <p>NASA prepares for the next wave of deep space exploration. NASA has a long history of transferring technology to the private sector. The agency’s Spinoff publication profiles NASA technologies that have transformed into commercial products and services, demonstrating the broader benefits of America’s investment in its space program.</p>
                </div>
                <div class="impact">
                    <p>Highlighting NASA's technology transfer and its impact on learning.</p>
                </div>
                <div>
                    <a href="https://www.nasa.gov/technology/tech-transfer-spinoffs/from-lab-to-classroom-how-nasa-tech-improves-learning/" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Darwin Pintado</em></div>
            </div>

            <div class="article">
                <div class="headline">Surgeons Perform Simulated Surgery in Space Using New Remote Technology<br>
                    Surgery in space: Tiny remotely operated robot completes first simulated procedure at the space station.<br>
                    Earthbound doctors successfully operate surgical robot in space.<br>
                    Space surgery: Doctors on ground operate robot on ISS for first time. | <em class="date">1-Feb-2024</em></div>
                <div class="detail">
                    <p>A significant technological demonstration, with the successful completion of the simulated surgery, guided by surgeons on Earth, conducted by a robot in the International Space Station (ISS). The surgery procedure was performed on simulated tissue using mighty robot which is known as spaceMIRA, or "Miniaturized in vivo Robotic Assistant".</p><br>
                    <p>The experiment, deemed a “huge success” by the participants, represents a new step in the development of space surgery, which could become necessary to treat medical emergencies during multi-year manned voyages, such as to Mars.</p>
                </div>
                <div class="impact">
                  <p>The development of spaceMIRA and its successful deployment on the ISS highlights the collaborative efforts of international space agencies and research institutions to address the unique healthcare needs of astronauts or future space travelers. Though this technology and the demonstration is the first step in a long process, it underscores the broader potential applications of robotic surgery on Earth, including in remote or inaccessible locations where access to skilled surgeons is limited.</p> 
                </div>
                <div class="sources">
                    <p>Read more:</p>
                      <a href="https://www.facs.org/for-medical-professionals/news-publications/news-and-articles/acs-brief/february-20-2024-issue/surgeons-perform-simulated-surgery-in-space-using-new-remote-technology/#:~:text=Surgeons%20Perform%20Simulated%20Surgery%20in%20Space%20Using%20New%20Remote%20Technology,-February%2020%2C%202024&text=An%20article%20from%20last%20week,International%20Space%20Station%20(ISS)" class="read-more">facs</a> ,
                       <a href="https://newatlas.com/space/doctors-surgical-simulations-iss-spacemira/#:~:text=Six%20doctors%20in%20Nebraska%20have,operating%20rooms%20here%20on%20Earth." class="read-more">newatlas</a> ,
                      <a href="https://edition.cnn.com/2024/02/13/world/mira-robot-first-surgery-in-space-scn/index.html" class="read-more">edition</a> ,
                       <a href="https://www.straitstimes.com/world/united-states/space-surgery-doctors-on-ground-operate-robot-on-iss-for-first-time" class="read-more">straitstimes</a> 
                </div><br>
                <div class="contact"><em>Contact: Violice Neo Sian Li</em></div>
            </div>

            <div class="article">
                <div class="headline">What breakthroughs in medicine came from NASA? | HowStuffWorks | <em class="date">7th March 2024</em></div>
                <div class="detail">
                    <p>NASA's contributions to medical breakthroughs are extensive, including advancements in MRI technology and the development of the LVAD (Left Ventricular Assist Device) for heart patients, showcasing the agency's role beyond space exploration.</p>
                    <p>Technologies initially developed for space missions have been adapted for medical use, such as digital image processing that enhances MRI and CT scan images and light technology that mitigates chemotherapy side effects in cancer patients.</p>
                </div>
                <div class="impact">
                    <p>NASA's innovations have led to a variety of medical devices and procedures, including ear thermometers, insulin pumps, artificial heart defibrillators and improvements in mammography technology, demonstrating the broad impact of space technology on healthcare.</p>
                    <p>Medical advances that came at least in part from NASA.</p>
                    <p>Example: Digital imaging breast biopsy system, developed from Hubble Space Telescope technology.</p>
                </div>
                <div>
                    <a href="https://health.howstuffworks.com/medicine/modern-technology/nasa-medicine.htm" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Violice Neo Sian Li</em></div>
            </div>

            <div class="article">
                <div class="headline">NASA’s Optical Comms Demo Transmits Data Over 140 Million Miles | <em class="date">25th April 2024</em></div>
                <div class="detail">
                    <p>A recent demonstration by NASA's Deep Space Optical Communications (DSOC) experiment has demonstrated a significant advancement in the capabilities of laser communication.</p>
                </div>
                <div class="impact">
                    <p>This milestone heralds a new era of high-speed, long-distance communication in space exploration, promising faster and more efficient data transmission for missions to distant targets (such as Mars).</p>
                </div>
                <div>
                    <a href="https://www.nasa.gov/press-release/nasa-s-optical-comms-demo-transmits-data-over-140-million-miles" class="read-more">Read more</a>
                </div>
                <br>
                <div class="contact"><em>Contact: Davis Fung</em></div>
            </div>

            <div class="article">
                <div class="headline">Why scientists are making space data into sounds | <em class="date">25th March 2024</em></div>
                <div class="detail">
                    <p>Sonifying space data transforms astronomical information into sound. This aids those blind or low vision (BLV) by offering an auditory understanding of the cosmos. The process enables BLV individuals to engage with scientific data, promoting inclusivity in STEM. Apart from that, it opens an alternative avenue for scientific learning.</p>
                </div>
                <div class="impact">
                    <p>Sonification facilitates communication by offering a novel way to convey complex data to diverse audiences, potentially increasing public interest and the understanding of scientific concepts.</p>
                </div>
                <div>
                    <a href="https://www.frontiersin.org/articles/10.3389/fspas.2022.729681/full" class="read-more">Read more</a>
                </div>
                <br>
                <div class="contact"><em>Contact: Davis Fung</em></div>
            </div>
            
</div>
        
        <div class="country">
            <div class="country-name">Philippines</div>
            <div class="article">
                <div class="headline">The Philippine Space Program: A Modern Take on Establishing a National Space Program | <em class="date">12th January 2024</em></div>
                <div class="detail">
                    <p>Philippines became the most recent emerging space nation, upon the creation of the Philippine Space Agency (PhilSA) and the Philippine Space Development and Utilization Policy (PSDUP), making it one of the few nations to have established a national space law from the very beginning of its space program. This article discusses how the Philippines’ experience of establishing a space agency and policy could benefit other emerging space nations in establishing their own national space programs in a logical and comprehensive manner, and in becoming responsible members of the space community in the future.</p>
                </div>
                <div class="impact">
                    <p>Discussing the potential benefits of the Philippines' space program experience for other emerging space nations.</p>
                </div>
                <div>
                    <a href="https://link.springer.com/chapter/10.1007/978-981-16-7326-9_4" class="read-more">Read more</a>
                </div><br>
                <div class="contact"><em>Contact: Darwin Pintado</em></div>
            </div>
        </div>

        <div class="country">
            <div class="country-name">Luxembourg / Europe</div>
            <div class="article">
                <div class="headline">SES has launched its O3b mPower satellite connectivity service. | <em class="date">25th April 2024</em></div>
                <div class="detail">
                    <p>The first six of 13 planned satellites of SES’ second-generation software-enabled satellite system are operating at medium Earth orbit (MEO) or 8,000km.</p>
                    <p>SES will be introducing services in the coming months to O3b mPower customers to deliver reliable connectivity services ranging from tens of Mbps to multiple gigabits per second.</p>
                    <p>The launch of the next two O3b mPower satellites is expected in late 2024.</p>
                </div>
                <div class="impact">
                    <p>The demand for O3b mPower solutions is very high, and the eagerness to empower government, enterprise, and cloud customers and their operations on O3b mPower onboarding plans with reliable, high-performance, and secure services.</p>
                </div>
                <div>
                <a href="https://www.datacenterdynamics.com/en/news/ses-launches-o3b-mpower-satellite-network/" class="read-more">Read-more</a>
            </div><br>
                <div class="contact"><em>Contact: Violice Neo Sian Li</em></div>
            </div>
        </div>

        <div class="country">
            <div class="country-name">Thailand / Southeast Asia</div>
            <div class="article">
                <div class="headline">Collaboration to Bolster Satellite Ground Station Capabilities in Southeast Asia | <em class="date">24th April 2024</em></div>
                <div class="detail">
                    <p>mu Space and Advance Technology Co., Ltd, a prominent Thai satellite technology company, and RBC Signals International Inc., a provider of global satellite data communication solutions, have signed a Memorandum of Understanding (MOU) as of March 1, 2024. This agreement initiates a partnership to develop Satellite Ground Station Facilities in Thailand and other Southeast Asian countries.</p>
                    <p>mu Space is recognized for its proficiency in satellite design, manufacturing, operations, and services. It contributes extensive expertise in space technology development and satellite ground station facility services. Conversely, RBC Signals is noted for its global satellite data communication solutions, featuring secure communications across all major frequency bands through its worldwide network. Previously, mu Space has provided facility support and maintenance for RBC Signals' satellite antenna hosting and colocation in Eastern Thailand for three years.</p>
                </div>
                <div class="impact">
                    <p>This partnership is built on mutual expertise and aims to further explore and implement necessary activities for the successful establishment of Satellite Ground Station Facilities in the region. Both mu Space and RBC Signals are enthusiastic about continuing and expanding their business relationship based on their previous successful collaborations.</p>
                </div>
                <div>
                    <a href="https://www.spacedaily.com/Collaboration-to-Bolster-Satellite-Ground-Station-Capabilities-in-Southeast-Asia" class="read-more">Read-more</a>
                </div>
                <br>
                <div class="contact"><em>Contact: Violice Neo Sian Li</em></div>
            </div>
        </div>

        <div class="country">
            <div class="country-name">Japan</div>
            <div class="article">
                <div class="headline">Results of the Space Fire Safety Theme at Kibo Published as Japan Industrial Standards | <em class="date">28th March 2024</em></div>
                <div class="detail">
                    <p>JAXA and collaborators have developed a new flammability test method for solid materials, which is crucial for assessing the fire safety in closed environments like manned spacecraft. Aligned with ISO04589-4, it replaces the outdated NASA-STD6001 standard. Initiated by the FLARE theme, this method calculates the oxygen index (OI) to evaluate material combustion characteristics under microgravity conditions.</p>
                </div>
                <div class="impact">
                    <p>The establishment of this method as a Japanese Industrial Standard (JIS) enhances fire safety evaluations. This promotes domestic industry understandings and supports international expansion in the space materials sector.</p>
                </div>
                <div>
                    <a href="https://www.jaxa.jp/press/2024/03/20240328-1_j.html" class="read-more">Read-more</a>
                </div>
                <br>
                <div class="contact"><em>Contact: Davis Fung</em></div>
            </div>
        </div>
        
        
            
    
    
</div> -->

<input type="text" [(ngModel)]="searchQuery" (input)="onSearchInput($event)" placeholder="Search...">
<ul *ngIf="showSuggestions">
  <div *ngFor="let suggestion of searchSuggestions" (click)="navigateToContent(suggestion.item)">
    {{ suggestion.content }}
  </div>
</ul>


  













  

  
  
  




  
  

