<nav class="navbar navbar-expand-lg navbar-dark bg" ngSkipHydration>
  <div  class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/deloitte.svg" alt="" width="120" height="34">
      <p class="Global">Global Downstream Space COE</p> 
    </a>
    <div class="d-flex justify-content-between align-items-center w-100">
      <div></div>
      <div class="navbar-nav text-center"> 
        <div class="dropdown">
          <button class="dropbtn">News & Events
             <span class="fa-solid fa fa-chevron-down"></span>
           </button>
           <div class="dropdown-content">
            <div class="row">
              <div class="col-4"><a href="/auto">STA Sci Tech Advancement</a>
              <a href="#">Qualcomm Announces</a>
              <a href="#">Plants in Space</a>
              <a href="#">Space Spotlight</a>
              <a href="#">Homegrown AgTech</a>
              <a href="#">Rocket Lab Electron rocket</a>
              <a href="#">Axelspace's Demonstration Satellite </a>
              <a href="#">Filipino Space Experiments</a>
              <a href="#">IHI AEROSPACE's Hydrogen Fuel Cell</a>
              <a href="#">Cow-Dung Powers Japan's</a>
              <a href="#">Nuclear fusion reactor in South Korea</a>
              
              </div>
              <div class="col-4"><a href="/startup">Startup</a>
                <a href="#">Rocket Lab Launches</a>
                <a href="#">Announce Strategic MOU</a>
                <a href="#">5 spacetech startups</a>
                <a href="#">Space startup Astroscale</a>
                <a href="#">Taiwan launches its first international</a>
                <a href="#">AgniKul set to launch 3D</a>
                <a href="#">Cow-Dung Powers Japan's</a>
                <a href="#">Hong Kong marine technology</a>
                <a href="#">Spacetech firm Aliena</a>
                <a href="#">ispace Signs MoU</a>
                <a href="#">Peak XV-Backed Digantara</a>
                <a href="#">Singapore's ESS and Australia</a>
                <a href="#">Skyroot Aerospace Leads India's</a>
                <a href="#">mu Space + RBC Signals</a>
              </div>
              <div class="col-4"><a href="/policyandregulation">Policy and regulation change</a>
                <a href="#">Why Russia won’t have its anti-satellite</a>
                <a href="#">Senate bills</a>
                <a href="#">Senate passes the Orbital Sustainability</a>
                <a href="#">US and Japan to sponsor</a>
                <a href="#">Uruguay is the most recent country</a>
                <a href="#">White House directs NASA</a>
                <a href="#">China, Thailand sign pacts on outer space</a>
                <a href="#">SpaceX applies for Indonesia internet</a>
                <a href="#">A general introduction to Space</a>
                <a href="#">SpaceX launches South Korea's</a>
                <a href="#">Official visit of Luxembourg Space</a>
                <a href="#">Singapore, UK co-lead first</a>
                <a href="#">Mitsui Sumitomo announces plans</a>
                <a href="#">Japanese astronaut</a>
                <a href="#">India announced the first 4 astronauts</a>
                <a href="#">Nicaragua joined China's ILRS</a>
                <a href="#">Russia vetoes UN Security Council</a>
              </div>
              <div class="col-4"><a href="/investmentandfunding">Investment and funding</a>
                <a href="#">Qosmosys Secures Historic US$100</a>
                <a href="#">Telkomsat investing IDR 3.5 trillion</a>
                <a href="#">Elon Musk's SpaceX to Invest</a>
                <a href="#">Kominfo unveils plans for the Satria-2</a>
                <a href="#">India Boosts Space Sector Investment</a>
                <a href="#">Spacetech Startup Manastu Raises</a>
                <a href="#">India eases approval process</a>
                <a href="#">India enters era of research</a>
                <a href="#">Japan to create ¥1 trillion</a>
                <a href="#">SKY Perfect JSAT Announces 10 Billion</a>
                <a href="#">Seoul to double budget by 2027</a>
                <a href="#">Funding for three Australia</a>
                <a href="#">SmartSat backs autonomous satellite</a>
                <a href="#">$15.7m for space initiatives: Speedy delivery</a>
                <a href="#">US wants NZ to stump up cash for $1.6b</a>
                <a href="#">New Zealand Govt</a>
                <a href="#">Tsai announces NT$40bn</a>
                <a href="#">Abu Dhabi sovereign fund to invest</a>
              </div>
              <div class="col-4"><a href="/industryandpartnerships">Industry and partnerships</a>
              <a href="#">NATO to Strengthen Partnership</a>
              <a href="#">Astrolight Joins DIANA</a>
              <a href="#">Fact Sheet: strengthening</a>
              <a href="#">A Beacon of Hope</a>
              <a href="#">Uzma and Satellogic to Advance</a>
              <a href="#">Tata co launches India’s 1st privately</a>
              <a href="#">India aims to achieve debris-free space</a>
              <a href="#">SpaceX secures network operating permit</a>
              <a href="#">NASA, Japan Advance Space Cooperation</a>
              <a href="#">Mitsubishi Corporation Joins Starlab Space</a>
              <a href="#">NZ-Australia work to advance </a>
              <a href="#">Bridging the Digital Gulf</a>
              <a href="#">Kepler, TESAT, and Airbus Join Forces</a>
              <a href="#">China to build satellite</a>
              <a href="#">The Philippines gives green light</a>
              <a href="#">Boryung, Axiom Space launch joint</a>
              <a href="#">Indonesia and India Forge New Space</a>
              <a href="#">Thailand approves 2 MoUs</a>
            
              </div>
              <div class="col-4"><a href="/competitor">Competitor</a>
                <a href="#">From design to launch</a>
                <a href="#">Elevating the Space Business</a>
                <a href="#">ST Engineering and EY sign MOU</a>
                <a href="#">KPMG selects winners</a>
                <a href="#">(EY Space for Tech) From outer Space</a>
                <a href="#">McKinsey's Work in the Space Sector </a>
                <a href="#">How insights from Earth</a>
                <a href="#">BCG Announces Collaborations with NASA and USRA</a>
                <a href="#">KPMG at the 39th Space Symposium</a>
                <a href="#">Foreign Direct Investment in Indian Space Sector</a>
                <a href="#">THE GROWING SPACE ECONOMY REACHING</a>
              </div>
              <div class="col-4"><a href="/other">Other</a>
                <a href="#">SpaceX's Starlink Satellite Internet</a>
                <a href="#">Amazon's Kuiper System Plans to Launch </a>
                <a href="#">How SpaceX, OneWeb and Amazon</a>
                <a href="#">ISS Astronauts Are Testing a New Surface</a>
                <a href="#">The Next Frontier</a>
                <a href="#">Could mini space-grown organs </a>
                <a href="#">Does the future of medicine lie in space</a>
                <a href="#">NASA rolls out new space sustainability strategy</a>
                <a href="#">Varda raises $90 million</a>
                <a href="#">Future quantum computers</a>
                <a href="#">A Stellar Guide To Equality</a> 
                <a href="#">From Lab to Classroom</a>
                <a href="#">Surgeons Perform Simulated Surgery</a>
                <a href="#">What breakthroughs in medicine</a>
                <a href="#">NASA’s Optical Comms Demo Transmits </a>
                <a href="#">Why scientists are making space</a>
                <a href="#">The Philippine Space Program</a>
                <a href="#">SES has launched its O3b mPower</a>
                <a href="#">Collaboration to Bolster Satellite</a>
                <a href="#">Results of the Space Fire Safety Theme</a>
              </div>
              <div class="col-4"><a href="/otherevent">Other-event</a>
                <a href="#">10th Asia-Pacific Space Generation</a>
                <a href="#">SatelliteAsia</a>
                <a href="#">Asia Satellite Business Week</a>
                <a href="#">The Australian Space Summit and Exhibition </a>
                <a href="#">3rd Edition INDIA SPACE CONGRESS 2024</a>
                <a href="#">The 6th Summit for Space Sustainability</a>
                <a href="#">COSPAR 45th Scientific Assembly 2024</a>
                <a href="#">8th Bengaluru Space Expo</a>
                <a href="#">Asia-Pacific Satellite Industry Association</a>
                <a href="#">Asia-Pacific Regional Space Agency Forum</a>
                <a href="#">Global Space and Technology Convention</a>
                <a href="#">Southern Space Symposium</a>
                <a href="#">Australian Space Forum</a>
              </div>
            </div>
           </div>
         </div>
         <a class="nav-link" href="#">Services</a>
         <a class="nav-link" href="#">Careers</a>
       <a class="nav-link active" aria-current="page" href="#">Insights</a>
       <a class="nav-link" href="#">Industries</a>
      </div>
      <div class="navbar-nav"> 
              <!-- <div class="search-container">
                <input type="text" [(ngModel)]="searchTerm" placeholder="Search.." (input)="search()">
                <ul *ngIf="searchResults.length > 0">
                  <li class="card" *ngFor="let result of searchResults">
                    <a href="#" (click)="navigateToResult($event, result)">{{ result.title }}</a>
                  </li>
                </ul>
              </div> -->

              <div class="search-container">
                <input type="text" [(ngModel)]="searchQuery" (input)="onSearchInput($event)" placeholder="Search...">
                <ul *ngIf="showSuggestions">
                  <li class="card" *ngFor="let suggestion of searchSuggestions">
                    <a (click)="navigateToContent(suggestion.item)">{{ suggestion.content }}</a>
                  </li>
                </ul>
              </div>

                
      </div>
      <div>
        <span class="fa fa-user"></span> 
      </div>
      
      <div></div>
    </div>
  </div>
</nav>