<!-- <app-header></app-header> -->
<div class="container-fluid">
  <h3>Scientific and technological advancement</h3>
  <div class="country">
      <div class="country-name">India</div>
      <div class="article">
          <div class="headline">Qualcomm Announces Support for India’s NavIC Satellite Navigation System | <em class="date">12th April 2024</em></div>
          <div class="detail">
              <p>Qualcomm Technologies, Inc, in collaboration with the Indian Space Research Organisation (ISRO), today announced support for the new and recently launched L1 signals of India’s navigation satellite system NavIC (Navigation with Indian Constellation) in select chipset platforms across the Company’s upcoming portfolio. The initiative will help further accelerate the adoption of NavIC and enhance the geolocation capabilities and overall robustness of mobile, automotive and the Internet of Things (IoT) solutions in the region – with the backing of engineering talent in India.</p>
          </div>
          <div class="impact">
              Additional support for NavIC L1 signals in Select Upcoming Mobile, Automotive and IoT Platforms is Poised to Deliver Superior Location-Based Services to India’s Industries and Technology Ecosystem
              
          </div>
         <div> <a href="https://www.qualcomm.com/news/releases/2023/12/qualcomm-announces-support-for-india-s-navic-satellite-navigatio" class="read-more">Read more</a></div><br>
          <!-- <div class="date"><em>12th April 2024</em></div> -->
          <div class="contact"><em>Contact: Partho Mondal</em></div>  
      </div>
  </div>

  <div class="country">
      <div class="country-name">Australia</div>
      <div class="article" id="sustainabilityContent">
          <div class="headline">Plants in Space to address sustainability challenges | <em class="date">10th May 2024</em></div>
          <div class="detail">
              <p>The article discusses Australia's initiative to develop agriculture in space to address both sustainability challenges on Earth, as well as the feasibility of space exploration. By growing plants in space, researchers hope to learn more about how they respond to microgravity and other space conditions, which could inform future space missions and even help establish human colonies off-Earth.
              The research is led by The Australian Research Council (ARC) Centre of Excellence in Plants for Space (P4S), administered by the University of Adelaide, and supported by the Australian Space Agency.</p>
          </div>
          <div class="impact">
              <p>Potential clients: Australia is becoming a world leader in space crops and agriculture. Innovative bioresource research worth noting includes University of Adelaide’s Plants for Space (P4S) and Lunaria One in Melbourne.</p>
              <p>Potential cross-industries/functions: 
                  <br>1) Making extended human space exploration and colonies a possibility, reducing the dependency on Earth “re-fuelling” of food and medicine.
                  <br>2) Making food production more sustainable and resilient on Earth.
              </p>
              
          </div>
          <div><a href="https://www.space.gov.au/news-and-media/space-plants-to-address-sustainability" class="read-more">Read more</a></div><br>
          <!-- <div class="date"><em>10th May 2024</em></div> -->
          <div class="contact"><em>Contact: Carina</em></div> 
      </div>

      <div class="article">
          <div class="headline">Space Spotlight: Moving spacecraft with mothball power | <em class="date">27th February 2024</em></div>
          <div class="detail">
              <p>An Australian company, Boswell Technologies, pioneers the use of mothballs, specifically naphthalene, as propellant for satellites with their Bogong Thruster. Inspired by a PhD student's research, the thruster's simplicity and effectiveness offer advantages over traditional propellants. Custom valve design challenges were overcome, leading to a successful in-orbit demonstration aboard a Skykraft Block III satellite, marking a milestone in propulsion technology.</p>
          </div>
          <div class="impact">
              The Bogong Thruster's successful demonstration prompts interest from major satellite companies like Skykraft, leading to commercial partnerships and sales. Boswell Technologies, supported by the Australian National University, now aims to capitalize on the technology's success by targeting commercial contracts, particularly in the small satellite and CubeSat market, bolstering innovation in space propulsion.
              
            </div>
            <div><a href="https://www.space.gov.au/news-and-media/moving-spacecraft-mothball-power" class="read-more">Read more</a></div><br>
          <!-- <div class="date"><em>27th February 2024</em></div> -->
          <div class="contact"><em>Contact: Darvhind</em></div> 
      </div>

      <div class="article">
          <div class="headline">Homegrown AgTech using space to benefit farmers | <em class="date">4th March 2024</em></div>
          <div class="detail">
              <p>Australia's agriculture sector, covering over half the nation's land, embraces space technology for enhanced precision farming. Advanced satellite imagery, AI, and IoT solutions facilitate accurate weather monitoring, crop yield prediction, precision agriculture, water management, disease detection, and real-time production monitoring. Myriota, a South Australian company, pioneers satellite IoT networks, offering cost-effective solutions for water infrastructure monitoring and smart metering in remote areas, revolutionizing water management for farmers.</p>
          </div>
          <div class="impact">
              Integration of space technology into agriculture empowers farmers with precise data for informed decision-making, leading to increased productivity, resource optimization, cost savings, and improved operational efficiency. Myriota's innovative satellite IoT networks enable remote monitoring of water infrastructure, reducing manual labor and enhancing water conservation efforts, particularly crucial in drought-prone regions. This synergy between space and agriculture signals a transformative shift in farming practices, fostering sustainability and resilience in Australia's agricultural sector.
              
            </div>
            <div><a href="https://www.space.gov.au/news-and-media/homegrown-agtech-using-space-to-benefit-farmers" class="read-more">Read more</a></div><br>
          <!-- <div class="date"><em>4th March 2024</em></div> -->
          <div class="contact"><em>Contact: Darvhind</em></div>
      </div>
  </div>

  <div class="country">
    <div class="country-name">Philippines/Japan</div>

    <div class="article">
        <div class="headline">Rocket Lab Electron rocket lifts off with space debris removal mission | <em class="date">18th February 2024</em></div>
        <div class="detail">
            <p>An Electron rocket lifts off from Rocket Lab's launch site in New Zealand's Mahia Peninsula carrying ADRAS satellite for Astroscale. The satellite was built by Japan-based Astroscale.</p>  
          </div>
          <div class="impact">
            Astroscale is the first company with a mission solely dedicated to the safe removal of space debris to secure long-term spaceflight safety and achieve orbital sustainability for the benefit of future generations.
Cleaning a 170 million pieces of space junk is a great challenge and opportunity. Space debris can cause risks and damages to the new spacecraft. 
Clearing space debris is a growing demand and ensuring the sustainability of space exploration.
          </div>
         <div> <a href="https://www.space.com/nuclear-fusion-reactor-south-korea-runs-48-seconds" class="read-more">Read more</a></div><br>
        <!-- <div class="date"><em>18th February 2024</em></div> -->
        <div class="contact"><em>Contact: Mark Anthony</em></div>
    </div>

    <div class="article">
        <div class="headline">Axelspace's Demonstration Satellite "PYXIS" Scheduled for Launch | <em class="date">4th March 2024</em></div>
        <div class="detail">
            <p>Axelspace has developed PYXIS as a demonstration satellite through AxelLiner, the one-stop microsatellite service, to establish the de facto standard in 100 kg-class microsatellites. The primary feature of PYXIS lies in the integration of the newly developed versatile satellite bus system.</p>
        </div>
        <div class="impact">PYXIS will work on the following mission in orbit:
            <br>1. Demonstration of the versatile satellite bus system for AxelLiner
            <br>2. Demonstration of the sensors for the next-generation AxelGlobe satellites (GRUS)
            <br>3. Demonstration of a satellite radio experiment system by SONY Group
            
        </div>
        <div><a href="https://www.axelspace.com/news/pyxislaunch/" class="read-more">Read more</a></div><br>
        <!-- <div class="date"><em>4th March 2024</em></div> -->
        <div class="contact"><em>Contact: Mark Anthony</em></div>
    </div>

    <div class="article">
      <div class="headline">Filipino Space Experiments Performed by JAXA Astronaut on the ISS | <em class="date">19th March 2024</em></div>
      <div class="detail">
          <p>Japan Aerospace Exploration Agency (JAXA) astronaut Satoshi Furukawa performs 14 Asian Try Zero-G experiments from the Asia-Pacific region on the International Space Station (ISS).</p>
      </div>
      <div class="impact">Two Filipino-conceptualized proposals were performed on the International Space Station (ISS) by a Japanese astronaut last Feb 2024. The proposals, titled "Oloids Movement in Microgravity" and "The Effectivity of Elastic Resistance Band Exercise when performed in Zero-Gravity".
          <br>This program initiative gathered over 245 submissions from 570 participants from countries in the Asia-Pacific region, and 14 proposals were conducted. A great opportunity for our young space enthusiast to create new technology that are beneficial to space exploration.   
      </div>
     <div> <a href="https://philsa.gov.ph/news/filipino-space-experiments-performed-by-jaxa-astronaut-furukawa-on-the-iss/" class="read-more">Read more</a></div><br>
      <!-- <div class="date"><em>19th March 2024</em></div> -->
      <div class="contact"><em>Contact: Mark Anthony</em></div>
  </div>


  <div class="article">
    <div class="headline">IHI AEROSPACE's Hydrogen Fuel Cell Electric Propulsion System Technology Development Initiative adopted as NEDO's Green Innovation Fund Projects to Accelerate Development of Zero-Emission Aircraft | <em class="date">9th April 2024</em></div>
    <div class="detail">
        <p>For this project, IHI AEROSPACE will develop a four-megawatt-class hydrogen fuel cell electric propulsion system. This zero-emission setup would power an aircraft with more than 40 seats and feature a cruising duration of more than three hours.</p>
    </div>
    <div class="impact">The IHI Group is committed to carbon neutrality by 2050, as part of which it will help to decarbonize aviation economically.".
        <br> It will accordingly step up efforts to commercialize this system, help electrify aircraft, innovate distinctive lightweight technologies, and develop synthetic fuels.
        
    </div>
    <div><a href="https://www.ihi.co.jp/ia/en/news/index.html" class="read-more">Read more</a></div><br>
    <!-- <div class="date"><em>9th April 2024</em></div> -->
    <div class="contact"><em>Contact: Mark Anthony</em></div>
</div>


<div class="article">
  <div class="headline">Cow-Dung Powers Japan's New Rocket Engine Prototype, Advances in Sustainable Space Tech | <em class="date">3rd April 2024</em></div>
  <div class="detail">
      <p>The article highlights Japan's pioneering use of cow dung-derived biofuel to power rockets, marking a significant advancement in sustainable space exploration. Scientists successfully conducted a test flight using this eco-friendly fuel, demonstrating its viability for future missions. By extracting methane from cow dung, Japan aims to reduce reliance on traditional rocket fuels, mitigate environmental impact, and lower costs. This innovative approach showcases Japan's commitment to eco-conscious technology and sets a precedent for greener space exploration worldwide.</p>
  </div>
  <div class="impact">
      <p>This article underscores the transformative potential of sustainable biofuels in space exploration. Japan's use of cow dung-derived biofuel represents a paradigm shift towards greener propulsion methods, with implications far beyond the aerospace industry. By demonstrating the feasibility of eco-friendly rocket fuel, Japan sets a precedent for other nations to explore alternative, renewable energy sources for space missions. This innovation could significantly reduce the environmental footprint of space exploration, addressing concerns about carbon emissions and resource depletion. Moreover, it highlights the importance of interdisciplinary collaboration, as scientists, engineers, and agricultural experts work together to harness the power of biofuels. Ultimately, this initiative represents a crucial step towards a more sustainable future for humanity's endeavors beyond Earth, inspiring further research and development in environmentally-friendly space technologies.</p>
      <!-- <a href="https://www.indianweb2.com/2024/04/cow-dung-powers-japans-new-rocket.html" class="read-more">Read more</a> -->
    </div><br>
  <!-- <div class="date"><em>3rd April 2024</em></div>
  <div class="contact"> Author: Mark Anthony</div> -->
</div>

    <!-- Add more articles for Japan here -->

</div>

<div class="country">
    <div class="country-name">Korea</div>

    <div class="article">
        <div class="headline">Nuclear fusion reactor in South Korea runs at 100 million degrees C for a record-breaking 48 seconds | <em class="date">14th April 2024</em></div>
        <div class="detail">
            <p>The article reports on South Korea's successful operation of a nuclear fusion reactor for 48 seconds, breaking the previous world record of 31 seconds. The KSTAR (Korea Superconducting Tokamak Advanced Research) reactor, also known as an “artificial sun”, reached a plasma temperature of over 100 million degrees Celsius, maintaining it for nearly a minute. This achievement is crucial in the pursuit of nuclear fusion energy, which holds immense potential as a safe, abundant, and clean power source.</p>
        </div>
        <div class="impact">Nuclear fusion replicates the process that powers the sun, fusing hydrogen atoms into helium, releasing vast amounts of energy in the process. The successful operation of the KSTAR reactor demonstrates progress in controlling and sustaining fusion reactions, essential for future energy generation. South Korea's advancements contribute to global efforts in harnessing fusion as a sustainable energy solution, though significant challenges remain before fusion can be commercially viable.</div>
       <div> <a href="https://www.space.com/nuclear-fusion-reactor-south-korea-runs-48-seconds" class="read-more">Read more</a></div><br>
        <!-- <div class="date"><em>14th April 2024</em></div> -->
        <div class="contact"><em>Contact: Carina</em></div>
    </div>

    <!-- Add more articles for Korea here -->

</div>


</div>
<!-- <app-footer></app-footer> -->
  
  
  
  

  
