
<div class="container-fluid">
    <h3>Competitor</h3>
    <div class="country">
        <div class="country-name"> </div>
        <div class="article">
            <div class="headline">From design to launch: AI capabilities for the future of spaceflight How AI is accelerating the pace of space engineering | <em class="date">28th march 2024</em></div>
            <div class="detail">
                <p>Machine learning (ML) and generative AI (GenAI) help propel aerospace engineering into a new era of speed and efficiency, while also enabling quality and regulatory compliance. PwC has worked with vendors to provide clients with a new end-to-end solution. This solution comprised a cloud-based data pipeline complete with ingestion, validation, metadata, data lineage, orchestration and analytics. It also included an integrated AI studio for modeling at scale — all on a government cloud platform.</p>
            </div>
            <div class="impact">
                Many industry-leading US manufacturers are beginning to explore how GenAI can transform the maintenance, repair, and overhaul industry. PwC's solution allowed the client’s analysis processes to operate faster, more reliably and more efficiently. The new cloud-based model library, equipped with GenAI code generation plugins, facilitated the creation of new models — in any programming language preferred by the engineers.
            </div>
           <div> <a href="https://www.pwc.com/us/en/industries/industrial-products/library/space-engineering-through-ai.html" class="read-more">Read more</a></div><br>
            <!-- <div class="date"><em>12th April 2024</em></div> -->
            <div class="contact"><em>Contact: Vidushi</em></div>  
        </div>
    </div>
    <div class="country">
        <div class="country-name">Japan</div>
        <div class="article">
            <div class="headline">Elevating the Space Business: EY Japan's Strategic Move | <em class="date">14th april 2024</em></div>
            <div class="detail">
                <p>EY Japan has officially launched its Space Business Support Office, signaling a robust commitment to propelling the space industry forward. This initiative underscores EY Japan's dedication to fostering public-private collaboration and innovation within the burgeoning space sector. By enhancing advisory services and focusing on assisting space startups with their IPOs, EY Japan is positioning itself as a pivotal supporter of space entrepreneurship.</p>
            </div>
            <div class="impact">
                The office aims to harness space and satellite data for audit and assurance services, ensuring the reliability of data crucial for business decision-making. Moreover,  office's activities, ranging from facilitating private investment in space ventures to enhancing the credibility of space business through data assurance, aim to contribute to sustainable development of Earth and the broader expanse of space.
            </div>
           <div> <a href="https://www.linkedin.com/pulse/elevating-space-business-ey-japans-strategic-move-takuya-takeyama-g8llc/" class="read-more">Read more</a></div><br>
            <!-- <div class="date"><em>12th April 2024</em></div> -->
            <div class="contact"><em>Contact: Vidushi</em></div>  
        </div>
    </div>

    <div class="country">
        <div class="country-name">Singapore</div>
        <div class="article">
            <div class="headline">ST Engineering and EY sign MOU in space technology and geospatial analytics for sustainability purposes | <em class="date">17th April 2024</em></div>
            <div class="detail">
                <p>ST Engineering Geo-Insights and EY Corporate Advisors have signed a memorandum of understanding (MOU) to collaborate on space technology and geospatial analytics to address environmental challenges. They will co-develop sustainability roadmaps and a geospatial platform focusing on areas like deforestation, water management, and carbon accounting. This initiative leverages EY's Space Tech platform, combining satellite imagery and AI, with ST Engineering Geo-Insights' expertise in earth observation and geospatial analysis.</p>
            </div>
            <div class="impact">
                The partnership aims to deliver insights for smarter decisions in areas like urban planning, disaster response, and environmental monitoring. The application of space tech holds significant potential in sustainability, environmental protection, social impact, agriculture, and infrastructure development. Example applications include tackling climate change, tracking weather patterns, monitoring wildlife crime, improving crop yield, and enabling precision agriculture, among other areas.
            </div>
            <div><a href="https://www.stengg.com/en/newsroom/news-releases/st-engineering-and-ey-sign-mou-in-space-technology-and-geospatial-analytics-for-sustainability-purposes/" class="read-more">Read more</a></div><br>
            <div class="contact"><em>Contact: Vidushi</em></div>  
        </div>
    </div>

    <div class="country">
        <div class="country-name"></div>
        <div class="article">
            <div class="competitor"><b>Competitor (Proposed to add, by Carina):KPMG</b></div>
            <div class="headline">KPMG selects winners for nature and space start-up competitions | <em class="date"></em></div>
            <div class="detail">
                <p>KPMG's Future Technology accelerator program, in collaboration with Stone & Chalk, selected five start-ups for its second cohort, shifting focus from supply chain innovation to space sector technology.</p>
            </div>
            <div class="impact">
                The chosen entrepreneurs received a one-year residency at Stone & Chalk's startup hubs and personalized growth support. Aquila, one of the selected start-ups, aims to revolutionize the energy sector with its "internet of energy" concept, leveraging photovoltaics and directed light beams for safe and scalable transmission.
            </div>
            <div><a href="https://www.consultancy.com.au/news/7674/kpmg-selects-winners-for-nature-and-space-start-up-competitions" class="read-more">Read more</a></div><br>
            <div class="contact"><em>Contact: Vidushi</em></div>  
        </div>
    </div>

    <div class="country">
        <div class="country-name">Australia/Oceania</div>
        <div class="article">
            <div class="competitor"><b>Competitor (Proposed to add, by Carina):EY</b></div>
            <div class="headline">(EY Space for Tech) From outer Space to your workspace: Unlock the power of satellite data for your business | <em class="date">10th April 2024</em></div>
            <div class="detail">
                <p>EY Space for Earth is an easy-to-use tool that harnesses the power of satellite data and artificial intelligence to drive smarter decisions and better business outcomes giving organisations unprecedented visibility across their operations to transform decision-making, optimise performance and accelerate innovation. Key Features include virtual site inspection, disaster and climate resilience, and ESG performance monitoring.</p>
            </div>
            <div class="impact">
                The idea is that by using satellite data from space firms can monitor infrastructure remotely, zooming in to spot small problems before they become big ones. Satellites are increasingly able to use various forms of detection like radar, which can be used to pick up the presence of water down to the millimetre, and newly-fledged hyperspectral sensors which can detect specific species of plant. This data can be used to measure things like patterns of water pooling, embankment stability, erosion risk and culvert performance, as well as near real-time monitoring for disasters like floods and fires. EY Oceania transport leader Neal Johnston said this meant rail operators wouldn’t need to send out helicopters or drones to assess damage.
            </div>
            <div>
                <!-- <a href="https://assets.ey.com/content/dam/ey-sites/ey-com/en_au/topics/ey-space-tech/ey-space-for-earth-factsheet-20230519.pdf" class="read-more">Read more</a> -->
                <a href="https://assets.ey.com/content/dam/ey-sites/ey-com/en_au/topics/ey-space-tech/ey-space-for-earth-factsheet-20230519.pdf" class="read-more">Read more</a>
            </div><br>
            <div class="contact"><em></em></div>  
        </div>
    </div>

    <div class="country">
        <div class="country-name">International</div>
        <div class="article">
            <div class="competitor"><b>Competitor (Proposed to add, by Carina):McKinsey's</b></div>
            <div class="headline">McKinsey's Work in the Space Sector  | <em class="date"></em></div>
            <div class="detail">
                <p>McKinsey partners with private-sector companies across the space value chain, along with government agencies and investors, to support clients on their most critical space-related topics—ranging from growth and innovation strategies to digital engineering and production scaling. Their services extend from operations, to strategy and corporate finance, to digital technology. Some examples of their work include: partnering with a leading space OEM to develop a new digital business leveraging space-acquired data to track shutdowns of refineries and helping a leading space-defense organization set up a fully digital environment. Radar is one of their featured capabilities and is the analytics platform for the aerospace and defense market. </p>
            </div>
            <div class="impact">
                McKinsey is collaborating with the World Economic Forum and focused on  charting a course toward a space ecosystem that can yield the greatest benefits on Earth and in space. They have interviewed nearly 100 leaders from the private and public sectors, non-profits, academia, and investors. KPMG's feautred product, Radar combines the most comprehensive source of data with powerful visualization and analytics to help defense and civil organizations make better strategic decisions.  Radar helps organizations visualize their role in the market in order to make better decisions around budget, growth opportunities, and research. We combine budgetary, market, and competitive information with analytics tools and collaborative functionality to provide a single source of truth on the state of the sector.
            </div>
            <div>
                <a href="https://www.mckinsey.com/industries/aerospace-and-defense/how-we-help-clients/mckinsey-and-the-space-sector" class="read-more">Read more</a>
            </div><br>
            <div class="contact"><em>Contact: Vidushi</em></div>  
        </div>
    </div>

    <div class="country">
        <div class="country-name">Australia</div>
        <div class="article">
            <div class="competitor"><b>Competitor (Proposed to add, by Carina): EY</b></div>
            <div class="headline">How insights from Earth observation data can optimise rail operations | EY Australia | <em class="date">18th march 2024</em></div>
            <div class="detail">
                <p>EY Space Tech Lab harnesses advanced satellite insights to transform rail operations worldwide.</p>
            </div>
            <div class="impact">
                <ol>
                    <li>Data from Earth observation satellites is transforming rail operations by providing insightful analysis, identifying problems before they escalate and optimising operational efficiency.</li>
                    <li>Advanced satellite sensors delivering detailed Earth observation data, combined with AI, enable rail network management to become more efficient, effective, and safer.</li>
                </ol>   
            </div>
            <div>
                <a href="https://www.ey.com/en_au/space-tech/how-insights-from-earth-observation-data-can-optimise-rail-operations" class="read-more">Read more</a>
            </div><br>
            <div class="contact"><em>Contact: Mark Anthony</em></div>  
        </div>
    </div>
    
    <div class="country">
        <div class="country-name">USA</div>
        <div class="article">
            <div class="competitor"><p>Competitor (Proposed to add, by Carina): BCG</p></div>
            <div class="headline">BCG Announces Collaborations with NASA and USRA to Launch a Generative Artificial Intelligence Lab for Science and Engineering | <em class="date">18th march 2024</em> </div>
            <div class="detail">
                <p>Boston Consulting Group (BCG) today announced strategic collaborations with NASA’s Ames Research Center in California’s Silicon Valley and the Universities Space Research Association (USRA) to launch a generative artificial intelligence (GenAI) lab for science and engineering.</p>
        
            </div>
            <div class="impact">
                <p> The lab will explore the short- and long-term benefits of new GenAI technologies related to Earth science, including Geostationary Operational Environmental Satellite (GOES) weather data, life sciences, and engineering. These collaborations harness the talents of a unique team of leading innovators from industry (BCG), government (NASA), and academia (USRA) with decades of experience advancing the state-of-the-art in artificial intelligence.</p>
            </div>
            <div>
                <!-- <a href="#" class="read-more"></a> -->
            </div><br>
            <!-- <div class="contact"><em></em></div>   -->
        </div>
        <div class="article">
            <div class="competitor"><b>Competitor (Proposed to add, by Carina): KPMG</b></div>
            <div class="headline">KPMG at the 39th Space Symposium at the Broadmoor in Colorado Springs, CO, USA | <em class="date">8-11 April, 2024</em> </div>
            <div class="detail">
                <p>The Space Symposium is a unique opportunity for all members of the space community to come together and collaborate on emerging issues.

                    KPMG professionals from around the world will be converging at the Symposium to connect with industry, military, government and more. KPMG specialists in the space sector provide global market insights and facilitate international collaboration in a wide variety of areas, ranging from deals and financing to legal and regulatory, from data analysis to supply chain optimization, and from economic analysis to cyber security.</p>
        
            </div>
            <div class="impact">
                <p> KPMG's presence at Space events.</p>
            </div>
            <div class="Rationale">
                <p><b>Rationale:</b> KPMG's presence at Space events.</p>
            </div>
            <div>
                <a href="https://kpmg.com/xx/en/home/insights/2024/02/kpmg-at-the-space-symposium.html" class="read-more">Read more</a>
            </div><br>
            <div class="contact"><em>Carina</em></div>  
        </div>
    </div>

    <div class="country">
        <div class="country-name">India</div>
        <div class="article">
            <div class="competitor"><b>Competitor (Proposed to add, by Carina): KPMG</b></div>
            <div class="headline">Foreign Direct Investment in Indian Space Sector - A POV on a press release by the Indian Government, on updated FDI thresholds in the space sector.   |  <br><em class="date">1st,April,2024</em></div>
            <div class="detail">
                <p>Till now, the Indian Space Research Organisation (ISRO) had been spearheading the Indian space sector and the private sector involvement in space sector was primarily through the supply chain of ISRO
                   With the introduction of ‘Indian Space Policy-2023’ in April last year, the Government of India indicated its intention of enhanced private participation in the sector. It re-defined the role and responsibilities of several players in the sector, with ISRO's focus defined to research and development, and setting up of In-Space, to promote and authorise space activities in India. Till date, In-Space has already approved more than 250 applications for space projects (including applications from private sector participants)
                    In a recent press release by the Ministry of Commerce and Industry, the applicable limit on Foreign Direct Investment (FDI) in the space sector was reviewed. Under the revised policy, the Union Cabinet has proposed to ease the FDI policy on space sector by prescribing liberalised FDI thresholds for various activities in this domain.</p>
            </div>
            <div class="impact">
                <ol>
                    <li>India's investment market will heat up. International private clients and businesses may look to invest.</li>
                    <li><b>Proposed impact on private participation</b>
                        - India became the first country to land near the moon’s South Pole, and the fourth country to soft land on the moon. With India’s successful involvement in various space missions and the planned human space flight mission to the moon (‘Gaganyaan’), the Indian space sector has grabbed the attention of its own government and has put India’s capabilities in space technology in the global spotlight
                        
                        - The Indian government intends to make the policy landscape more conducive to private participation while keeping the national security at the centerstage
                        
                        - With the introduction of the new space policy in 2023 and space funding in the recent interim budget 2024 of INR 13,043 crore (~USD1.57 Bn), the government is attempting to take the Indian space sector to its inflection point
                        
                        - Relaxation of FDI norms and laying the groundwork for foreign participation is a positive move and is expected to make the sector, more attractive in the eyes of the foreign investors.
                        
                        - The easing of FDI norms will enable Indian space startups working on capital-intensive space products access to the global pool of capital which in turn, will help them to expand manufacturing and production capacity</li>
                </ol>   
            </div>
            <div class="Rationale">
                <p><b>Rationale:</b> For Deloitte to be proactive in the India Space industry.</p>
            </div>
            <div>
                <a href="https://kpmg.com/in/en/home/insights/2024/03/foreign-direct-investment-in-indian-space-sector.html" class="read-more">Read more</a>
            </div><br>
            <div class="contact"><em>Contact: Carina</em></div>  
        </div>
    </div>

    <div class="country">
        <div class="country-name">Japan</div>
        <div class="article">
            <div class="competitor"><b>Competitor (Proposed to add, by Carina): PwC</b></div>
            <div class="headline">THE GROWING SPACE ECONOMY REACHING FOR THE STARS | <em class="date">8th Febraury 2024</em></div>
            <div class="detail">
                <p>Space is changing. The vast emptiness around our planet has become a new frontier of commercialization as private companies join the public sector in setting up shop in space. Propelled by better technology and dramatically lower costs of placing spacecraft in orbit, private-sector funding of space-related companies exceeded US$10 billion in 2021, and some analysts predict the space economy will be worth more than US$1 trillion by 2040.

                    However, the lack of clear rules and business models for companies eager to join the great space race is a problem. Professional services firm PwC Consulting LLC, part of the PwC global network in Japan, is now working with the private sector, public sector and academia to support businesses looking to reach for the stars.</p>
            </div>
            <div class="impact">
                PwC’s Space Practice works with governments on space regulations. Surprisingly, some spacefaring countries lack such laws because their missions are launched from other countries. The practice also provides commercial strategy advice to a wide range of companies, including players from the energy, insurance and telecommunications industries.
            </div>
            <div class="Rationale">
                <p><b>Rationale:</b> PwC Japan is active.</p>
            </div>
           <div> <a href="https://www.pwc.com/jp/en/knowledge/column/the-growing-space-economy-reaching-for-the-stars.html" class="read-more">Read more</a></div><br>
            <!-- <div class="date"><em>12th April 2024</em></div> -->
            <div class="contact"><em>Contact: Carina</em></div>  
        </div>
    </div>
    

    </div>
